@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=League+Spartan:wght@100;400;702;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;702;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=League+Spartan:wght@100;400;702;900&family=Vollkorn&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Spartan, sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-size: 12px;
    color: black;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: gray;
    margin: 15px 0 20px 0;
}

a {
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 80px; */
    /* background: url(/img/bg_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: #fbf7f2;
}

.bg-img {
    background: url("/image/antique-cafe-bg-01.jpg");
    opacity: 8;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: grayscale(0.40);
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    top: -1%;
}

.logo {
    margin-left: 15%;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.logo_header {
    display: flex;
    margin-left: 2%;
    align-items: left;
}

.main_nav {
    display: flex;
    /* width: 50%;
    margin-right: 2%;
    list-style: none; */
    align-items: center;
    justify-content: space-around;
}

.main_nav li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.main_nav li a:hover,
.main_nav li a.active {
    color: rgb(255, 149, 2);
}

.main_nav li a.active ::after,
.main_nav li a:hover ::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.main_nav li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.main_nav li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    transition: 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.bg-img h4 {
    padding-bottom: 15px;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
}

.bg-img h4:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgb(255, 255, 255);
    left: 0;
    right: 80;
    top: 16%;
    position: absolute;
    margin-left: 30%;
}

.bg-img h4:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgb(255, 255, 255);
    right: 0;
    top: 16%;
    position: absolute;
    margin-right: 30%;
}

.bg-img h2 {
    color: rgb(245, 238, 238);
    font-family: 'Cormorant SC', serif;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;
}

.bg-img button {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(239, 166, 55);
    height: 40px;
    font-size: 20px;
    width: 150px;
    border: 1px solid white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: #000000;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: none;
}

.p2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p2 p {
    font-family: 'Vollkorn', serif;
    font-size: 80px;
    color: rgb(201 139 45);
    letter-spacing: 0.5px;
}

.p3 {
    display: flex;
    /* justify-content: center; */
}

.menu_heading {
    display: flex;
    justify-content: space-around;
    grid-template-columns: 2fr 2fr;
}

.menu_heading p {
    color: #000000;
    font-family: 'Cormorant SC', serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: -10px;
}

.col-1 {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    box-sizing: border-box;
}

.col-1 img {
    /* border: 1px solid black; */
    margin-top: 3em;
    margin-left: 3em;
}

.col-1 #menu_name1 {
    /* border: 1px solid black; */
    margin-top: 5em;
}

.col-1 #box-1 {
    display: flex;
    flex-direction: column;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    box-sizing: border-box;
}

.col-2 img {
    /* border: 1px solid black; */
    margin-top: 3em;
    margin-left: 3em;
}

.col-2 #menu_name1 {
    /* border: 1px solid black; */
    margin-top: 5em;
}

.col-1 p {
    color: black;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

.col-2 p {
    color: black;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

.p33 p {
    font-family: 'Cormorant SC', serif;
    font-size: 50px;
    color: rgb(201 139 45);
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600;
}

.p34 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.p34 button {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(239, 166, 55);
    height: 40px;
    font-size: 15px;
    width: 200px;
    border: 1px solid white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease;
}


/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: sans-serif;
    height: 100%;
}

.gallery {
    background: #EEE;
}

.gallery-cell1 {
    width: 36%;
    background-color: white;
    padding: 20px;
}

.gallery-cell1 img {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


/* cell number */

.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

@media only screen and (max-width: 992px) {
    #header {
        height: 40%;
        background: white;
        width: 100%;
    }
    .bg-img {
        border: 1px solid black;
        display: flex;
        /* background: url(/image/bg_image.jpg); */
        width: 100%;
        height: 50vh;
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        filter: grayscale(0.40);
    }
    .bg-img h4 {
        display: none;
    }
    .bg-img h2 {
        display: none;
    }
    .bg-img button {
        display: none;
    }
    .navbar {
        /* background: url(/image/bg_image.jpg); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        /* height: 100px; */
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20px;
        align-items: center;
        /* background: #595656; */
    }
    .main_nav {
        display: none;
    }
    .show_nav {
        padding-top: 2%;
        display: flex;
        width: 100vw;
        /* height: 100vh; */
        flex-direction: column;
        justify-content: flex-start;
    }
    .main_nav li {
        width: 100%;
        height: 50px;
        font-size: 25px;
        justify-content: center;
        text-align: center;
        padding: 0%;
    }
    .main_nav li a {
        color: rgb(255, 255, 255);
        font-family: 'Cormorant SC', serif;
    }
    .main_nav li a:hover,
    .main_nav li a.active {
        color: rgb(255, 136, 1);
    }
    .logo_header {
        width: 100%;
        justify-content: space-between;
        margin-right: 2%;
    }
    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
    .p2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p2 p {
        font-family: 'Vollkorn', serif;
        font-size: 50px;
        color: rgb(201 139 45);
        letter-spacing: 0.5px;
    }
}

.gallery_collage {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding: 10px;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 240px;
    width: 240px;
    border-radius: 50%;
}

.centered p {
    color: #8b6306;
    font-size: 30px;
    margin-top: 38%;
    font-weight: 600;
}